body {
    background-color: darkslategray;
    
}

p, h1, h2, h3, h4, h5, li, a {
    color: antiquewhite;
    font-family: "Lucida Console", "Courier New", monospace;
}



.container {
    position: relative;
    display: flex;
    width: 60vw;
    height: 70vh;
    margin: auto;
    padding: auto;
}

.profile-pic {
    position: relative;
    margin-top: 2%;
    min-width: 40%;
    height: 90%;
    border-style: solid;
    border-color: grey;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px rgb(41, 40, 40);
}

.profile-pic > img {
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.profile-content {
    /* background-color: black; */
    padding: 0;
    width: 60%;
    margin: auto;
    margin-left: 5%;
    margin-top: 10%;
}

.profile-content > ul {
    list-style-type: none;
    margin-top: 5%;
    display: block;
}

ul > li {
    margin-top: 5%;
    /* margin-right: 10%; */
    margin-right: auto;
    cursor: pointer;
    display: flex;
}

li:hover > h4  {
    color: cadetblue;
}

li:hover > a  {
    color: cadetblue;
}

li:hover > img {
    transform: rotate(45deg);
    transition: 1s;
}

li img {
    width: 40px;
    height: 40px;
    color: white;
}

a {
    text-decoration: none;
}

li > h4, li > a {
    
    margin-left: 5%;
}
.navbar {
    position: relative;
    background-color: darkslategray;
    z-index: 1;
    top: 0;
    width: 98vw;
    height: 10vh;
    display: flex;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-bottom: 5%;
    box-shadow: 0 2px grey;
}

.navbar h3 {
    margin-top: 2%;
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;

}

.navbar h3:hover {
    color: cadetblue;
}



.nav-title{
    margin-top: 0;
    margin-left: 5%;
    display: block;
    width: 30%;
} 

.burger-menu {
    display: block;
    position: relative;
    margin-right: 1%;
    margin-top: 0.5%;
    width: 50px;
    height: 50px;
    
    padding: auto;
}

#myLinks {
    transition: 1s;
    display: none;
    position: relative;
    background-color: darkslategray;
    border-style: solid;
    /* top: 100%; */
    right: 12vw;
    width: 15vw;
    /* height: 20vh; */
}

#myLinks > a:hover {
    transition: 0.5s;
    background-color: grey;
    color: black;
}

.burger-menu a {
    
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}



.burger-menu > a.burger-icon {
    /* background: black; */
    text-decoration: none;
 
  
  color: black;
  right: 0;
  top: 0;
}

.burger-menu > a.burger-icon > .fa .fa-bars {
    width: 100%;
    height: 100%;
}
