
body {
    background-color: darkslategray;
    
}

p, h1, h2, h3, h4, h5, li, a {
    color: antiquewhite;
    font-family: "Lucida Console", "Courier New", monospace;
}

.container {
    display: flex;
    width: 90vw;
    height: 70vh;
    margin: auto;
}

.navbar {
    position: relative;
    z-index: 1;
    background-color: darkslategray;
    top: 0;
    width: 98vw;
    height: 10vh;
    display: flex;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    margin-bottom: 5%;
    box-shadow: 0 2px grey;
}

.navbar h3 {
    margin-top: 2%;
    margin-left: auto;
    margin-right: 2%;
    cursor: pointer;

}


.nav-title{
    margin-top: 0;
    margin-left: 5%;
    display: block;
    width: 30%;
} 

.burger-menu {
    display: block;
    position: relative;
    margin-right: 1%;
    margin-top: 0.5%;
    width: 50px;
    height: 50px;
    
    padding: auto;
}

#myLinks {
    transition: 1s;
    
    display: none;
    position: relative;
    background-color: darkslategray;
    border-style: solid;
    /* top: 100%; */
    right: 12vw;
    width: 15vw;
    /* height: 20vh; */
}

#myLinks > a:hover {
    transition: 0.5s;
    background-color: grey;
}

.burger-menu a {
    
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}



.burger-menu > a.burger-icon {
    /* background: black; */
    text-decoration: none;
 
  
  color: black;
  right: 0;
  top: 0;
}

.burger-menu > a.burger-icon > .fa .fa-bars {
    width: 100%;
    height: 100%;
}



.side-bar {
    display: block;
    max-width: 30%;
    /* background-color: black; */
    padding: 5%;
    padding-top: 0;
    margin-top: 3%;
    max-height: 70%;
    overflow-y: hidden;
}

.side-bar > h1 {
    margin-left: 5%;
    margin-top: 20%;
}

.side-bar h4 {
    margin-left: 30%;
    cursor: pointer;
}

.side-bar h4:hover {
    color: cadetblue;
}

.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    max-height: 75%;
    
    padding: 5%;
    padding-top: 0;
    
    padding-right: 3%;
    margin-top: 3%;
    overflow-y: auto;
}

.content-item {
    
    position: relative;
    width: 300px;
    height: 300px;
    
    border-style: solid;
    border-color: grey;
    margin-right: 5%;
    margin-bottom: 5%;
    cursor:pointer;
    box-shadow: 5px 5px black;
}

.content-item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-info {
    position: absolute;
    top: 0;
    opacity: 0;
    object-fit: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 20%;
 
    transition-duration: 0.8s;
    height: 80%;
    width: 100%;
    
}

.item-info > h2, .item-info > h3, .item-info > h4  {
    color: white;
}


/* width */
    #homeContent::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
   #homeContent::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
 #homeContent::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  #homeContent::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.content-item:hover > .item-info{
    transition-duration: 0.8s;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

